<ul class="nav navbar-right col-md-4">

<% if current_user %>

<li class="col-md-8 user-name">

<%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>

</li>

<li class="col-md-1"> </li>
 <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe,new_member_path,class: 'navbar-link btn btn-primary' %>

<%= button_to "LogOut", destroy_user_session_path, method: :delete,class: "btn btn-xs btn-danger mx-3" %>
<% else %>

<li class="col-md-4 pull-right">

<%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>

</li>

<% end %>

</ul>